body {
    background-color: #f9f9f9;
}

.container {
    margin-top: 50px;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

#pokemonInfo {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
}

#pokemonInfo p {
    margin: 10px 0;
    line-height: 1.6;
}

  .stat-container {
    background-color: #e0e0e0;
    padding: 10px;
  }

  .stat-bar {
    background-color: #76c7c0;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
    padding: 2px;
  }
